.button {
  background: transparent;
  border: 0;
  fill: white;
  color: white;
  outline: none;
  &:hover,
  &:active,
  &:focus {
    background: white;
    fill: #222;
    color: #222;
  }
  &.button--icon {
    width: 48px;
    height: 48px;
    border-radius: 24px;
  }
}
