.d-flex {
  display: flex;
}

.flex-row,
.m-flex-row {
  flex-direction: row;
  width: 100%;
}

.flex-50 {
  flex: 0.5;
  min-width: 50%;
  max-width: 50%;
}

.flex-33 {
  flex: 33.3333%;
  min-width: 33.3333%;
  max-width: 33.3333%;
}

.flex-row .flex-50 {
  min-width: 50%;
  max-width: 50%;
}
@media screen and (max-device-width: 1024px) {
  .flex-row {
    flex-direction: column;
  }
  .flex-row .flex-50,
  .flex-row .flex-33 {
    min-width: initial;
    max-width: initial;
  }
}

.justify-content-around {
  justify-content: space-around;
}

.flex-column {
  flex-direction: column;
  height: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}
