.show-mobile {
  display: none;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}
@media screen and (max-device-width: 1024px) {
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
    &.d-flex {
      display: flex;
    }
  }
  .mflex-justify-conten-between {
    justify-content: space-between;
  }
  .m-align-center {
    text-align: center;
  }
}
