.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.py-2 {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
}

.px-2 {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.pt-2 {
  padding-top: 1.3rem;
}

.pb-1 {
  padding-bottom: 1rem;
}
