@import "../../theme/variables.scss";

.nav {
  padding-left: 2rem;
  padding-right: 2rem;
  height: $header-height;
}

.logo__container {
  width: 64px;
  height: 64px;
  padding: 2px;
  border-radius: 32px;
}

.logo {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.nav__brand {
  font-size: 1.6rem;
  font-weight: 600;
}

@media screen and (max-device-width: 1145px) {
  .nav__verbose-name {
    display: none;
  }
}

@media screen and (max-device-width: 339px) {
  .nav__brand {
    display: none;
  }
}
