.photo__container {
  width: 310px;
  height: 310px;
  //   flex: 0.2;
  margin: 0.4rem;
  position: relative;
}

.photo__overlay:hover {
  opacity: 0.8;
  transition: opacity linear 0.2s;
  .photo__description {
    filter: blur(0px);
    letter-spacing: 0.1em;
  }
  &:after {
    transition: transform 0.3s linear;
    transform: rotate(-45deg) scale(1);
  }
  &:before {
    transition: transform 0.3s linear;
    transform: rotate(-45deg) scale(1);
  }
}

.photo__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.photo__description {
  transition: filter linear 0.4s, letter-spacing linear 0.4s;
  letter-spacing: -0.5em;
  filter: blur(12px);
}

.photo__overlay {
  font-size: 1.4rem;
  display: flex;
  background: #333;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  &:after {
    content: " ";
    width: 100px;
    height: 2px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 90px;
    left: 20px;
    transform-origin: 0 0;
    transform: rotate(-45deg) scale(0);
  }
  &:before {
    content: " ";
    width: 100px;
    height: 2px;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    transform: rotate(-45deg) scale(0);
    bottom: 90px;
    right: 20px;
    transform-origin: 100% 100%;
  }
}

@media screen and (max-device-width: 1024px) {
  .photo__image {
    flex: 1;
    max-height: initial;
  }
}
