@import "../../theme/variables.scss";

.sidebar {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  height: 100vh;
  transform: translateY(-100vh);
  overflow: hidden;
  left: 0;
  opacity: 0;
  transition: all 0.5s $ease-in-out-curve-function;
}

.sidebar--shown {
  display: block;
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s $ease-in-out-curve-function;
}

.sidebar__actions {
  height: $header-height;
}

.sidebar__link {
  display: block;
  color: white;
  padding: 1.2rem 1rem;
  font-size: 1.8rem;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    background: white;
    color: #111;
  }
}

@for $i from 1 through 10 {
  .sidebar--shown .fade-in-left {
    animation: fade-in-left 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}
