.about {
  background: #111;
  color: white;
}

.about__phone a {
  color: #93b10a;
  font-size: 1.8rem;
}

.about__adresse {
  font-size: 1.8rem;
}

.about__header {
  font-weight: 600;
  padding-top: 1rem;
  font-size: 1.8rem;
}
