body {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.image-container {
  height: 100vh;
  width: 100%;
  text-align: center;
}

.image-container img {
  height: 100%;
  object-fit: contain;
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.background,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.background {
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  z-index: 0;
  filter: blur(15px);
}

.overlay {
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.fade-in {
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.fade-out {
  animation: fade-out 1s ease-out both;
}

.flip-in-hor-bottom {
  animation: flip-in-hor-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.flip-out-hor-top {
  animation: flip-out-hor-top 0.45s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-out-hor-top {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(70deg);
    opacity: 0;
  }
}
