.type-plat__header {
  width: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.header__overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.type-plat__title {
  position: relative;
  z-index: 1;
  font-size: 2.5rem;
  padding: 2.5rem 2rem;
  color: white;
  margin: 0;
}

.plat__header {
  display: flex;
  align-items: center;
}

.plat__nom {
  margin: 0;
  font-size: 1.4rem;
}

.plat__description {
  font-style: italic;
  color: rgba(0, 0, 0, 0.7);
}

.plat {
  margin: 1.6rem 0;
  padding: 0 2rem;
  display: flex;
  flex: 0.5;
  min-width: 50%;
  max-width: 50%;
  flex-direction: column;
}

.plat__grower {
  display: flex;
  flex-grow: 1;
  margin: 0 0.8rem;
  height: 1px;
  background: rgba(0, 0, 0, 0.8);
}

.list-plats {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.type-plat__description {
  padding: 2rem;
}

.type-plat__image {
  object-fit: cover;
  position: absolute;
  background-color: #222;
}

@media screen and (max-device-width: 1024px) {
  .plat {
    flex: 1;
    min-width: 100%;
    max-width: 100%;
  }
}
