@import "./theme/flex";
@import "./theme/spacing";
@import "./theme/colors";
@import "./theme/responsive";
@import "./theme/button";
@import "./theme/title";
@import "./theme/animation";

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
body * {
  box-sizing: border-box;
}

.text-container {
  margin: auto !important;
  max-width: 1400px;
}

.text-container--padding {
  padding: 0 2rem;
}

@media screen and (max-device-width: 1024px) {
  .text-container {
    max-width: 100%;
  }
}

.left-container--padding {
  padding-left: 2rem;
}

.right-container--padding {
  padding-right: 2rem;
}
