.news {
  width: 100%;
  height: 600px;
  position: relative;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  div:nth-child(4) {
    margin-bottom: 0;
    border-bottom: 0;
  }
}

.news__item {
  background-size: cover;
  background-position: center center;
  height: 30%;
  position: relative;
  padding: 1rem 0;
  margin-bottom: 5%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.news__overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.news__content {
  position: relative;
  z-index: 1;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.news__description {
  text-overflow: ellipsis;
  word-break: normal;
}
